<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekdays and Weekends</title>
</head>
<body>
    <h1>yoooo, it's legit <%= dayType %>, <%= advice %></h1>

    <!--  if (day != 0 && day !=6 ){
        <h1>Weekday!</h1>
    } else {
        <h1>Weekend!</h1>
    } -->
</body>
</html>